.content {
    padding: 0 !important;
}

.box-header h3 {
    padding-left: 5px !important;
    margin: 0;
}

.box-header small {
    padding-left: 5px !important;
    margin-top: -5px;
    margin: 0;
}
.box-header hr {
    margin: 0;
}
.box-body {
    background: rgb(246, 252, 253);
}
.detail{
    max-width: 300px;
    max-height: 400px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
video {
    margin-bottom: 10px;
}

.box-body .card {
    background: #ffff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.card:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.card img {
    max-height: 150px !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
}
.card .title {
    text-transform: capitalize;
}

.card2 {
    background: #ffff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    min-height: 90px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.card2:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.card2 img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.card2 video {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
h4 {
    text-transform: capitalize;
}
.card2 h4 {
    margin: 0px;
}
.col-xs-6 {
    padding: 5px;
}
h4 {
    text-transform: capitalize;
}
.card2 h4 {
    margin: 0px;
}
td {
    font-size: 12px !important;
}
figcaption {
    margin-bottom: 10px;
}
hr {
    margin-top: 10px !important;
}
.sponsor {
    border: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: white;
    padding: 0 !important;
    margin: 5px;
    
}
.sponsor img {
    height: 150px !important;
    border-radius: 3px 3px 0 0;
    margin: 0 !important;
}
.sponsor .title {
    background-color: #6ff;
    padding: 5px;
    border-radius: 0 0 3px 3px;
}
.sponsor .title h5 {
    margin: 2px !important;
    font-weight: bold;
}
.ads {
    margin-bottom: 15px;
}

.btn-group {
    margin-bottom: 10px;
}

@media (min-width: 767px) {

    .sponsor {
        width: 31.48% !important;
    }
    .card3 {
        display: none;
    }

   
}

@media (max-width: 767px) {
    .ads {
        width: 100%;
        max-height: 200px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        background-color: white;
    }

    .box-body {
        padding: 5px;
    }
    .card2 {
        display: none;
    }
    .card3 {
        background: #ffff;
        border-radius: 3px;
        padding: 5px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        height: 250px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .card3:hover {
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .card3 img {
        width: 100%;
        height: 130px;
        border-radius: 5px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    
    .card3 video {
        width: 100%;
        height: 130px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    .title {
        position: absolute;
        bottom: 10px;
        text-align: center;
    }
    
  
}
/* .main-footer {
    min-height: 100px;
} */